#app {
	height: 100vh;
	width: 100vw;
}

.modal-content {
	width: min(80vw, 400px);
	height: min(40vh, 250px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.waiting-txt::after {
	content: "...";
	display: inline-block;
	width: 2rem;
	text-align: left;
	animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
	0% { content: ""; }
	25% { content: "."; }
	50% { content: ".."; }
	75% { content: "..."; }
	100% { content: ""; }
}