/**
 * Override default variables from Bootstrap
 * https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults
 */

// $bg-color: $blue-100;
// $heading-bg-color: $blue-400;

$body-bg: #101010;
$body-color: #fff;
$border-color: #303030;
$dark: #151515;
$focus-ring-color: #17c805;
$primary: #17c805;
