.game-board {
	width: 80vmin;
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.game-grid {
	display: grid;
	grid-template-rows: 1fr 0.5fr;
}

.aside-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.1fr;
}

@for $i from 1 through 10 {
	.x#{$i} {
		grid-column: #{$i};
	}
}

@for $i from 1 through 10 {
	.y#{$i} {
		grid-row: #{$i};
	}
}

.virus {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	font-size: 20px;
	animation: loiterSpin 3s alternate infinite;

	&:hover {
		animation: attackJump 1s alternate infinite;
	}
}

@keyframes loiterSpin {
	0% {
		transform: rotate(0deg) translateX(0) translateY(0) scale(1);
		opacity: 0.2;
	}
	50% {
		transform: rotate(180deg) translateY(20px) translateX(10px) scale(1.6);
		opacity: 1;
		filter: brightness(1.3);
	}

	100% {
		transform: rotate(360deg) translateX(-10px) translateY(-20px) scale(1);
		opacity: 0.4;
	}
}

@keyframes attackJump {
	0% {
		transform: translateX(0) translateY(0) scale(1);
		opacity: 0.2;
	}
	50% {
		transform: translateY(20px) translateX(10px) scale(1.6);
		opacity: 1;
		filter: brightness(1.3);
	}

	100% {
		transform: translateX(-10px) translateY(-20px) scale(1);
		opacity: 0.4;
	}
}

@media (min-width: 992px) {
	.game-grid {
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		grid-template-rows: 1fr;
	}

	.aside-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.1fr 1fr 0.1fr;
	}
}
