// Override default variables from Bootstrap
@import "variables";

// Import Bootstrap's SCSS
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/mixins";

// Custom styles
@import "layout";

@import "login";

@import "lobby";

@import "game";

@import "gameover";

@import "borderStyles";

body {
	background-image: url("../background_grid.png");
	background-size: 256px 256px;
	background-position: center;
}

.lacquer-regular {
	font-family: "Lacquer", system-ui;
	font-weight: 400;
	font-style: normal;
}

.spray-cursor-off {
	cursor:
		url("../imgs/spray-off100x100.png") 68 0,
		auto;
}

.spray-cursor-on {
	cursor:
		url("../imgs/spray-on100x100.png") 68 0,
		auto;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
