// Override default variables from Bootstrap
@import "variables";

// Import Bootstrap's SCSS
@import "bootstrap/scss/bootstrap";

// Custom styles
@import "layout";

@import "login";


body {
	background-image: url("../background_grid.png");
	background-size: 256px 256px;
	background-position: center;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}
